files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDSTCCAjECFC6hE0YQkDDUyzfLafBavAykC2lmMA0GCSqGSIb3DQEBCwUAMGEx
      CzAJBgNVBAYTAlVTMRIwEAYDVQQIDAlXaXNjb25zaW4xEDAOBgNVBAcMB01hZGlz
      b24xGDAWBgNVBAoMD01hZGlzb24gQ29sbGVnZTESMBAGA1UECwwJRWR1Y2F0aW9u
      MB4XDTIyMTAwNDE1MzUwOVoXDTIzMTAwNDE1MzUwOVowYTELMAkGA1UEBhMCVVMx
      EjAQBgNVBAgMCVdpc2NvbnNpbjEQMA4GA1UEBwwHTWFkaXNvbjEYMBYGA1UECgwP
      TWFkaXNvbiBDb2xsZWdlMRIwEAYDVQQLDAlFZHVjYXRpb24wggEiMA0GCSqGSIb3
      DQEBAQUAA4IBDwAwggEKAoIBAQCvrCTlQkDmuS08vU2CKba7/q+3myikkYm5c0XY
      QBur8cfK4tDQKQgLRuqXUmUmWK1y52/gCo+tC1yu3vP79ZpjzM1ddxVK5R+eqWoP
      +qDDWYYZ257qeGYcwA9dbVrbYZEjKQPz7t+wsdTXXSnlF9kL2yJXHddL9wasyIei
      plZOLnqhNnAIe4K5k2ll1rywzbVxw+qCybnbJdzdY9kxTWhgw9i9GIM8Lbr9Y91p
      Hn8rkR//BgI/DQTvjA2FL4hLPRQdhAxBYMQpFfrACxkkdSkVrNLNwBuXzWLH5AEs
      ZTE/+sNwoU2TyWGVk3VBU5ko+ziLM8SDNjH8FTPmPTTGRaHdAgMBAAEwDQYJKoZI
      hvcNAQELBQADggEBAIU4JOKQU5U+EeO8eFEQr6GVCN2d6ANUmMORBJW9UvVZqfxT
      CWD8HLO/pB7ioSwGrV5U2rtJmcqslMHT4eHYOROM2SXbcmOLcfe3K2Dz29FjPlSw
      fj325bkFjpPJBp5EKrCZi6ywEeOmfgLnxt3R/ZP6CNTrzclYGJtMjtAIGQw3e8vk
      2YSgf573fBY6Ul7o+X5SQojJEvgGExM8nZ93+D98kwHe62hcwGIWH6jysq8axyMc
      ti95xOVYRTiz0iEgW9hjZo/xjvchbMK8pl8q2poUiZIgIyb71Gk36TUiyRPVSz5u
      jpej5kAlftWpQfPYdlmROcNSf/cv5E8y95c84LA=
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAr6wk5UJA5rktPL1Ngim2u/6vt5sopJGJuXNF2EAbq/HHyuLQ
      0CkIC0bql1JlJlitcudv4AqPrQtcrt7z+/WaY8zNXXcVSuUfnqlqD/qgw1mGGdue
      6nhmHMAPXW1a22GRIykD8+7fsLHU110p5RfZC9siVx3XS/cGrMiHoqZWTi56oTZw
      CHuCuZNpZda8sM21ccPqgsm52yXc3WPZMU1oYMPYvRiDPC26/WPdaR5/K5Ef/wYC
      Pw0E74wNhS+ISz0UHYQMQWDEKRX6wAsZJHUpFazSzcAbl81ix+QBLGUxP/rDcKFN
      k8lhlZN1QVOZKPs4izPEgzYx/BUz5j00xkWh3QIDAQABAoIBAB/7K+Bc1mnqjlS/
      dcvbgjvpWt4HLjf/kt4jITUEPsVnx+KktjUfMyqyZ2TTCD0Z6cHAZnqYEZ4EMoRX
      bH2TMd83Wq/ITSUMX1xIJVnxW7EUrDgq5lxzPMvBH0r37JGByqVnAyQ2eZy2UzQ9
      7rGZTNc+tpq7gQWAXEO6Yg73T0D+Ib6bS10di5ZS5lk6taJ+vKJ1Vtc7iBXW1Sg/
      QB1YuumB9gxq6Eok/LsWHEiw9xDxzXLWDK0rPLIasn4OPAdEE0AZc2MgxaMKpMAr
      /gDn0SLrpYmw6WWqqfA/eFdAOm9rnkGLZxyi7ReBM4M3pad3aGBCKfDYwxzlT/G2
      lyTQZ7UCgYEA5OGf3l8yvGsTqheIrHrgB4j+Cjm0tY8cYtJCk3WX//0Fuo7DweC/
      e0SZsg6pkcVXgLPYl0K0wvuc6NaS4cyyIXxA498N/kxb01bA8qHBLQNvpCCPmM/M
      Zp7X9o92vU59KveOCXH2ga7uP4JRCUmU/0ufGqWYTK/LgsINmSL8yxsCgYEAxHyZ
      d141jkk10ILqYNyumATsulD4XYGNQ5AsnX/0fCVp42ykbisarX4m5bWI/pwKlKis
      0R1uz8DAYFZHzwloiqWf3Jum+VzA2le+WzBgpVlO6s08ddoXLgGUUmRGBkOgMNVj
      q/tUXybF7lnGGYlVyon1pMI+kHyp4sUqCEO0XmcCgYAuL92b+Sf637y7IT6iV7Vn
      r9xb4eM2lCeNRZLLwPooXT3PtMmKETlyvZgqV00erm0G+sPlWj+x7SZv0gUX7b+w
      hCtwEG35eB07m5EaJUwfMkdQHoX7t0svFjTMe4zhjLozdntCKq4s40kOpdSGhEO9
      9Nupe+ss5nix7UjjMy1CKwKBgQClGwZiNbnPDFm6EqgcKJRVjZ3Wmf95o0kvAtFa
      r5CjWVT3E+2/3VyXeK/6ymaJfFmvvWUqew8IaDG/QgEpSgCcsLv6RpkyZOxxDNYa
      DjbH+pnD2B378f0UXaNi8Hue++h54HXWqGSnaA9eT/WUs8BxZygRAGBOTVL8CS1e
      sHW59QKBgCuGYUUpr9AC9ykbZR5KT+3U2ldjUrRVTNp/Rhgoe8U9VEBeC+87XKRX
      C8tZFV+zqRSJ/HJSkMWpH3ZFWbpFDZff41ERGIvrOHwiMRF6AzBmGWjNgqyQyXPC
      MXP1nl9fprV8Zr02Wqm5CHqFYdC/7RK9j1iYi2P/P9Ee7eOngA7Z
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart