html, body {
    height:100%;
}

#wrapper {
    position: relative;
    min-height:100%;
}

#main {
    padding-bottom: 44px;
}

#listCover {
    width: auto;
    height: 100px;
}

#cookbookCover {
    width: auto;
    height: 148px;
}

footer {
    height: 80px;
    position: absolute;
    bottom: 0;
    width: 98%;
}